<div class="row" style="padding-bottom:10px">
    <div class="col-md-6">
        <img style="border-radius: 100px;" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/073/295/117d538.jpg" width="200" height="200" alt="Juan Pablo Estrada Venegas">

    </div>
    <div class="col-md-6">
        <p>Hi my name is Juan P. Estrada Venegas, here you can find my linkein profile with information about me.
            <a href="https://cr.linkedin.com/in/juan-pablo-estrada-venegas-a7846075">Juan Estrada</a>
            <p>In general my experience include several languages as C# , C++ , Java Core , Java Security, HTML5, CSS3 , Node.js , Angular.js, JavaScript , jQuery. Also I have knowledge in databases as Oracle , SQL Server, mongodb....</p>
        </p>
    </div>
</div>
